{% extends "base.html" %}
{% block content %}
  {% include "navbar.html" %}
  <div class="flex flex-col space-y-4 w-full h-screen">
    <section class="w-full overflow-y-auto h-screen flex flex-col justify-center items-center bg-gradient-to-br from-[rgba(255,153,51,1)] via-white to-[rgba(19,136,8,1)] mt-12 fixed">
      <!-- about website -->
      <div class="flex flex-col w-full items-center space-y-12 mb-4">
        <div class="flex flex-col w-[60%] items-center">
          <p class="text-4xl font-bold mb-6">About website</p>
          <p class="text-normal text-justify">
            Our website essentially centralizes the schemes that are available different government websites
            with that, we also make use of generic user data to give the users scheme in which they can apply.
            We also have support for translation(with google) in more than 20 languages and also provide
            speech output for scheme information in hindi language. we also have discussion page where users can
            add their thouhts on different aspects of the website and start a discussion with other user.
          </p>
        </div>
        <!-- privacy policy -->
        <div class="flex flex-col space-y-4 w-[60%] items-center">
          <p class="text-4xl font-bold mb-6">Privacy policy</p>
          <p class="text-normal text-justify">
            Our website collects certain information from its users through
            various tracking technologies such as cookies and log files. This data
            is used to improve our website's functionality, provide a more
            personalized user experience. By using our website, you consent to the
            collection and use of your data as described in this disclaimer. If
            you use our website, we assume that you agree with the terms and conditions of our website.
            Please note that our website may contain links to other websites, and
            we are not responsible for the privacy practices or content of these
            other websites. We encourage you to read the privacy policies of any
            website that you visit. We take the privacy of our users seriously and
            have implemented appropriate security measures to protect your
            information. However, no data transmission over the internet can be
            guaranteed to be 100% secure. As a result, while we strive to protect
            your personal information, we cannot guarantee its absolute security.
          </p>
        </div>
        <!-- <div class="flex flex-col space-y-4 w-[60%] items-center">
        <p class="text-4xl font-bold mb-6">About development team</p>
        <p class="text-normal text-justify">
          Our website collects certain information from its users through
          various tracking technologies such as cookies and log files. This data
          is used to improve our website's functionality, provide a more
          personalized user experience. By using our website, you consent to the
          collection and use of your data as described in this disclaimer. If
          you do not agree with our data collection practices, please do not use
          our website. Please note that our website may contain links to other
          websites, and we are not responsible for the privacy practices or
          content of these other websites. We encourage you to read the privacy
          policies of any website that you visit. We take the privacy of our
          users seriously and have implemented appropriate security measures to
          protect your information. However, no data transmission over the
          internet can be guaranteed to be 100% secure. As a result, while we
          strive to protect your personal information, we cannot guarantee its
          absolute security.
        </p>
      </div> -->
        <!-- about team and their experience -->
        <!-- contact -->
      </div>
    </section>
  </div>
{% endblock %}
