{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<section
  class="bg-gradient-to-br from-[rgba(255,153,51,1)] via-white to-[rgba(19,136,8,1)]"
>
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen"
  >
    <div class="mb-8">
      <p class="flex items-center text-4xl text-black font-medium">
        Reset your password
      </p>
    </div>
    <div class="w-full bg-trasparent max-w-md">
      <div class="p-6 space-y-4">
        <form class="space-y-4" method="post">
            {% csrf_token %}
          <div>
            <label
              for="password"
              class="block mb-2 text-md font-normal text-black"
            >
              Enter new password
            </label>
            <div class="absolute h-auto mt-2.5 right-[41%] flex items-center">
              <div onclick="reveal1()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </div>
            </div>
            {{ form.new_password1 |attr:"class:text-gray-800 border-2 border-gray-700 rounded-lg focus:outline-none block w-full p-2.5"|attr:"id:password1" }}
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-md font-normal text-black"
            >
              Confirm new password
            </label>
            <div class="absolute h-auto mt-2.5 right-[41%] flex items-center">
              <div onclick="reveal2()">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </div>
            </div>
            {{ form.new_password2 |attr:"class:text-gray-800 border-2 border-gray-700 rounded-lg focus:outline-none block w-full p-2.5"|attr:"id:password2" }}
          </div>
          <div class="mt-8">
            <button
              type="submit"
              class="w-full text-gray-50 bg-[#4c6fc0] focus:ring-4 focus:outline-none font-semibold rounded-lg text-lg px-5 py-2.5 text-center"
            >
              Reset password
            </button>
          </div>
        </form>
        <script>
            function reveal1() {
              if (document.getElementById("password1").type == "password") {
                document.getElementById("password1").type = "text";
              } else {
                document.getElementById("password1").type = "password";
              }
            }
            function reveal2() {
              if (document.getElementById("password2").type == "password") {
                document.getElementById("password2").type = "text";
              } else {
                document.getElementById("password2").type = "password";
              }
            }
          </script>
      </div>
    </div>
  </div>
</section>
{% endblock content %}